body{
    background: #333;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

#cal {
    background-color: #dfd8d0;
    width: 300px;
    height: 400px;
    margin: 100px auto;
    text-align: center;
    border: 2px solid #908b85;
    border-radius: 20px;
}

#title {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 14px;
    display: inline-block;
    color: rgb(51, 51, 51);    
}

#screen{
    display: inline-block;
    margin-top: 20px;
    width: 80%;
    height: 60px;
    text-align: right;
    border: 1px solid #aaa;
    border: 2px solid #b4b39d;
    border-radius: 6px;
    background-color: #c3c2ab;
}

#current {
    font-size: 35px;
    color: #333;
    margin-right: 10px;
    line-height: 35px;
    padding-top: 5px;
}

#memory {
    font-size: 12px;
    color: #8b8b7b;
    margin-right: 14px;
    margin-bottom: 10px;
}

#buttons {
    margin: 20px 30px 30px;
    position: relative;
    height: 230px;
    width: 240px;
    display: inline-block;      
}
button{
    width: 20%;
    height: 15%;
    background-color: #3a3a3a;
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    color: white;
    position: absolute;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
    border-radius: 8px;
    outline: none;
    border: none;
}
button:nth-child(1), button:nth-child(2) {
    background-color: #a72d45;
    box-shadow: 0px 3px 0px 0px #671c2a;
}
button:active{
    box-shadow: none;
    transform: translate(0,3px);
}

.col1 {
    left: 0;
}
.col2 {
    left: 26.7%;
}
.col3 {
    left: 53.4%;
}
.col4 {
    left: 80%;
}

.row1 {
    top: 0;
}
.row2{
    top: 21%;
}
.row3{
    top: 42%;
}
.row4{
    top: 63%;
}
.row5{
    top: 84%;
}


.eq {
    height: 36%;
}

.zero {
    width: calc(46.7%);
}

#header{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: -60px;
    color: #8b8b7b;
    line-height: 1.5em;
}